/*
******
Reset
******
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
******
Common
******
*/

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.clearfix::after {
  display: block
  content: '';
  clear: both
}

/*
******
Typography
******
*/

* {
  font-family: 'Fredoka', sans-serif;
}

h1 {
  color: #e53170;
  margin-bottom: 30px;
  padding: 25px;
}

p {
  font-size: 18px;
}

/*
******
Header
******
*/

header {
  text-align: center;
  margin: 25px;
  margin-bottom: 48px;
}

/*
******
Main
******
*/



.team > .col {
  height: 100px;
  width: calc(100% / 3 - 30px);
  background-color: #0f0e17;
  border: 2px solid #012501;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  color: #fffffe;
  box-shadow: 2px 2px #c4c4c3;
  }

  .team-face {
    float: left;
    width: 100px;
  }

  .team-info {
    float: right;
    width: calc(100% - 100px);
    padding-left: 10px;
  }

.team-face img{
  width: 70%;
}

span {
  color: #0090e7;
}