/*
******
Reset
******
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
******
Common
******
*/

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.clearfix::after {
  display: block
  content: '';
  clear: both
}

/*
******
Typography
******
*/

* {
  font-family: 'Fredoka', sans-serif;
}

h1 {
  color: #e53170;
  margin-bottom: 30px;
  padding: 25px;
}

p {
  font-size: 18px;
}

/*
******
Header
******
*/

header {
  text-align: center;
  margin: 25px;
}

/*
******
Main
******
*/



.team > .col {
  height: 100px;
  width: calc(100% / 4 - 20px);
  background-color: #0f0e17;
  border: 2px solid #012501;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  color: #fffffe;
  }


