/*
******
Reset
******
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
******
Common
******
*/

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/*
******
Typography
******
*/

* {
  font-family: 'Fredoka', sans-serif;
}

h1 {
  color: #e53170;
  padding: 55px;
}

p {
  font-size: 18px;
}

/*
******
Header
******
*/

header {
  text-align: center;
  margin: 25px;
}

/*
******
Main
******
*/
